body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ADBC9F;
}

.register-container {
    background-color: #FBFADA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #12372A;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #436850;
    border-radius: 4px;
    background-color: #E2E8DC;
    color: #12372A;
}

.register-container input[type="submit"] {
    background-color: #436850;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
}

.register-container input[type="submit"]:hover {
    background-color: #12372A;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}
